@import '../../style/app.color.scss';

.login {
    .login-form {
    }
    .left-box {
        position: absolute;
        height: 100%;
        // width: 100%;
        z-index: 2;
        clip-path: polygon(0% 0%, 60% 0%, 40% 100%, 0% 100%);//设置多边形的属性
        background: #000;
    }
    .right-box {
        position: absolute;
        height: 100%;
        // width: 100%;
        z-index: 2;
        clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 40% 100%);//设置多边形的属性
        background: #9c2a2a;
    }
}

.font-set:hover {
    color: $text-hover-color;
}