// 边框颜色
$border-color: rgba(99, 99, 99, 0.827);

// 列表文字颜色
$list-color: rgb(65, 65, 65);

// 列表背景颜色
$list-bg-color: rgba(255, 255, 255, 0.692);

// 背景颜色
$bg-color: #fff;

// 文字颜色
$text-color: #555555;
$text-hover-color: #1dc2ce;

// 文字大小
$text-size: 14px;

// 文字行高
$text-line-height: 20px;

// 文字字体
$text-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;

// 文字字体大小

// 按钮背景颜色
$btn-simple: rgba(133, 133, 133, 0.514);
$btn-primary: rgb(28, 158, 209);
$btn-danger: rgb(226, 60, 60);
$btn-warning: rgb(255, 166, 0);
$btn-success: rgb(84, 209, 84);
$btn-info: rgb(0, 122, 204);
$btn-light: rgb(248, 249, 250);
$btn-dark: rgb(33, 37, 41);

// 按钮文字颜色
$btn-text-color-primary: rgb(34, 34, 34);
$btn-text-color-danger: rgb(255, 255, 255);
$btn-text-color-warning: rgb(33, 33, 33);
$btn-text-color-success: rgb(255, 255, 255);
$btn-text-color-info: rgb(255, 255, 255);
$btn-text-color-light: rgb(33, 33, 33);
$btn-text-color-dark: rgb(255, 255, 255);

// 按钮边框颜色
$btn-border-color-primary: rgb(34, 34, 34);
$btn-border-color-danger: rgb(255, 255, 255);
$btn-border-color-warning: rgb(33, 33, 33);
$btn-border-color-success: rgb(255, 255, 255);
